/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  font-size: 1rem;
}

.h-iframe {
  height: calc(100vh - 224px);
}

@font-face {
  font-family: mathias;
  src: url(mathias-bold.ttf);
}
.font-mathias {
  font-family: mathias;
}