/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  font-size: 1rem;
}

.helper {
  height:100vh;
  width:100vw;
  background-color: yellow;
}

.h-iframe {
  height: calc(100vh - 224px);
}

.h-iframe-mobile {
  height: calc(90vh);
}

@font-face {
  font-family: mathias;
  src: url(mathias-bold.ttf);
}
.font-mathias {
  font-family: mathias;
}

.test {
  white-space: pre-line;
}

.box {
  width: 100px;
  height: 100px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--green);
  font-weight: 600;
  color: var(--light);
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}